DB_Driver=
DB_Connection=
Server_Port=
# "panic" / "fatal" / "error" / "warn" / "info" / "debug" / "trace"
LOG_LEVEL=

ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=
ACCESS_TOKEN_DURATION=
REFRESH_TOKEN_DURATION=

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_DIR=

PAGINATE_DEFAULT_PAGE=
PAGINATE_DEFAULT_PAGE_SIZE=